footer.footer
    .container
        .row.align-items-md-center.py-20
            .col-md-12.col-lg-4.text-center.text-lg-left
                a.foo-logo(href="")
                    img.foo-logo-light(src='../img/Logo.png', alt="logo")
                    img.foo-logo-dark(src="../img/Logo-dark.png", alt="logo")

            .col-12.col-lg-4
                ul.social-list.foo-social-list
                    li
                        a(href="/") 
                            i.fab.fa-facebook-f
                    li
                        a(href="/") 
                            i.fab.fa-instagram
                    li
                        a(href="/")
                            i.fab.fa-vk
                    li
                        a(href="/") 
                            i.fab.fa-linkedin-in
                    li
                        a(href="/") 
                            i.fab.fa-twitter
                    li
                        a(href="/") 
                            i.fab.fa-youtube
            .col-12.col-lg-4
                ul.foo-list
                    li
                        a(href="/") Правила пользования сайтом
                    li
                        a(href="/") Политика конфиденциальности
        .row
            .col-12
                div.text-center ROSA International © 2019