section.section.adv#adv
  .container
    .row
        .col-12.col-xl-8.wow.fadeInLeft(data-wow-delay="0.3s" data-wow-offset="50")
          h2.h1.title.title-decoration.mb-50 Почему инвесторы выбирают  ROSA International
    .row.py-30
      .col-md-6.col-lg-4.pr-lg-50.mb-50.wow.fadeIn(data-wow-delay="0.5s" data-wow-offset="50")
        .adv-el.pr-xl-50.mr-xl-20
          .adv-el-img-box.py-20
            .adv-el-icon
              img(src="img/adv-a.png", alt="adv")
            .adv-el-bg
              img(src="img/adv-bg-a.png", alt="adv")
          h5.mb-20 Надёжность и 
            |
            br
            | безопасность
          p В ROSA International безопасность и сохранность личных данных клиентов – самая приоритетная задача
      .col-md-6.col-lg-4.pr-lg-50.mb-50.wow.fadeIn(data-wow-delay="0.6s" data-wow-offset="50")
        .adv-el.pr-xl-50.mr-xl-20
          .adv-el-img-box.py-20
            .adv-el-icon
              img(src="img/adv-b.png", alt="adv")
            .adv-el-bg
              img(src="img/adv-bg-b.png", alt="adv")
          h5.mb-20 Высокий 
            |
            br
            | доход
          p Зарабатывайте столько, сколько вам нужно для комфортной жизни и не беспокойтесь об инфляции
      .col-md-6.col-lg-4.pr-lg-50.mb-50.wow.fadeIn(data-wow-delay="0.9s" data-wow-offset="50")
        .adv-el.pr-xl-50.mr-xl-20
          .adv-el-img-box.py-20
            .adv-el-icon
              img(src="img/adv-c.png", alt="adv")
            .adv-el-bg
              img(src="img/adv-bg-c.png", alt="adv")
          h5.mb-20 Несколько видов 
              |
              br
              | заработка
          p Получайте пассивный доход без личного участия, или активно влияйте на размеры своих доходов
      .col-md-6.col-lg-4.pr-lg-50.mb-50.wow.fadeIn(data-wow-delay="0.3s" data-wow-offset="50")
        .adv-el.pr-xl-50.mr-xl-20
          .adv-el-img-box.py-20
            .adv-el-icon
              img(src="img/adv-d.png", alt="adv")
            .adv-el-bg
              img(src="img/adv-bg-d.png", alt="adv")
          h5.mb-20 Низкий порог 
              |
              br
              | вхождения
          p Начать собственный бизнес можно по цене смартфона! Достойный доход сможет получать каждый
      .col-md-6.col-lg-4.pr-lg-50.mb-50.wow.fadeIn(data-wow-delay="0.6s" data-wow-offset="50")
        .adv-el.pr-xl-50.mr-xl-20
          .adv-el-img-box.py-20
            .adv-el-icon
              img(src="img/adv-e.png", alt="adv")
            .adv-el-bg
              img(src="img/adv-bg-e.png", alt="adv")
          h5.mb-20 Регулярные 
              |
              br
              | выплаты
          p Получайте стабильные выплаты пять дней в неделю – с понедельника по пятницу, в том числе и по праздникам
      .col-md-6.col-lg-4.pr-lg-50.mb-50.wow.fadeIn(data-wow-delay="0.9s" data-wow-offset="50")
        .adv-el.pr-xl-50.mr-xl-20
          .adv-el-img-box.py-20
            .adv-el-icon
              img(src="img/adv-jj.png", alt="adv")
            .adv-el-bg
              img(src="img/adv-bg-f.png", alt="adv")
          h5.mb-20 Инвестировать 
              |
              br
              | просто
          p Инвестировать может каждый! Начните получать доход уже на следующий день после оплаты пакета