section.section.cap.wow.fadeIn.pb-0(data-wow-delay="" data-wow-offset="200")
    .cap-aside.px-lg-10.px-xl-30.py-30.wow.fadeInLeft(data-wow-delay="" data-wow-offset="200")
        ul.social-list.flex-column
            li
                a(href="/") 
                    i.fab.fa-facebook-f
            li
                a(href="/") 
                    i.fab.fa-instagram
            li
                a(href="/") 
                    i.fab.fa-linkedin-in
            li
                a(href="/")
                    i.fab.fa-vk
            li
                a(href="/") 
                    i.fab.fa-twitter
            li
                a(href="/") 
                    i.fab.fa-youtube
        label.theme-box
            input.js-check-theme(type="checkbox")
            span.theme-checkmark
    .container
        .cap-content.pl-lg-50
            .row.pl-lg-20
                .cap-box
                    .col-12.col-lg-10.mb-50.py-lg-50
                        .cap-content.py-lg-50
                            .row.flex-column.wow.fadeInUp(data-wow-delay="0.7s" data-wow-offset="200")
                                .col-12.mb-50
                                    h1.title.title-decoration.text-regular Надежные инвестиции со сверхокупаемостью
                                .col-lg-8.mb-50
                                    p Получайте стабильную прибыль с минимальными рисками.
                                        |
                                        br 
                                        | Узнайте больше о доверительном управлении
                                .col-12
                                    .row.align-items-center.justify-content-center.justify-content-sm-start
                                        .col-auto.mb-20
                                            a.btn-decoration.btn-decoration-costom-shadow(href="")
                                                span Начать инвестировать
                                        .col-auto
                                            a.cap-content-btn.js-scroll(href="#proj") Узнать большe
                                                i.far.fa-chevron-down.ml-10
                    .col-12.wow.fadeInUp(data-wow-delay="0.7s" data-wow-offset="-700")
                        .cap-img.text-right
                            img(src="img/cap_woman.png", alt="icon")
