section#proj.section.pt-0.command
  .container
    .row.mb-30
      .col-md-2.col-lg-4.col-xl-6.d-none.d-lg-block.wow.fadeInLeft(data-wow-delay="0.3s" data-wow-offset="100")
        .command-img
          .command-img-polygon
          .command-img-box
      .col-md-12.col-lg-8.col-xl-6.pt-50.pl-xl-50.wow.fadeInRight(data-wow-delay="0.7s" data-wow-offset="100")
        h2.h1.title.title-decoration.my-30.my-xl-50 Проект и команда
        p ROSA International – это международный проект, который создан в качестве автоматизированной площадки для эффективного извлечения прибыли из инвестиций путём передачи их в доверительное управление опытным трейдерам, финансовым аналитикам и биржевым маклерам. Проект состоит из четырех ключевых составляющих, взаимодействие которых и позволило создать его, осуществлять поддержку и извлекать высокие результаты.
    .row
      .col-md-6.mb-30.wow.fadeIn(data-wow-delay="0.3s" data-wow-offset="50")
        .row
          .col-12.mb-30
            .row.align-items-center
              .col-auto
                img(src="img/command-a.png", alt="icon")
              .col
                h6 Трейдеры и биржевые маклеры
          .col-12
            p Ведущие специалисты в торговле ценными бумагами, фиатом и криптовалютами, а также в других видах инвестирования используют средства инвесторов для эффективной торговли.
      .col-md-6.mb-30.wow.fadeIn(data-wow-delay="0.7s" data-wow-offset="50")
        .row
          .col-12.mb-30
            .row.align-items-center
              .col-auto
                img(src="img/command-b.png", alt="icon")
              .col
                h6 Программисты и аналитики
          .col-12
            p Программное обеспечение ROSA International и смарт-алгоритмы, подкрепленные постоянным мониторингом со стороны аналитического отдела дают возможность обеспечивать стабильность выплат.
      .col-md-6.mb-30.wow.fadeIn(data-wow-delay="0.3s" data-wow-offset="50")
        .row
          .col-12.mb-30
            .row.align-items-center
              .col-auto
                img(src="img/command-c.png", alt="icon")
              .col
                h6 Торговые роботы
          .col-12
            p Автоматические программы, осуществляющие сделки по наиболее выгодным алгоритмам, торгуют на фиатных и криптовалютных биржах, обеспечивая работу денег инвесторов в режиме 24/7.
      .col-md-6.mb-30.wow.fadeIn(data-wow-delay="0.7s" data-wow-offset="50")
        .row
          .col-12.mb-30
            .row.align-items-center
              .col-auto
                img(src="img/command-d.png", alt="icon")
              .col
                h6 Мастер-ноды
          .col-12
            p Для дополнительного распределения и снижения рисков, помимо торговых операций, наша компания также имеет значительные мощности для ведения майнинга, что позволяет избежать потерь в периоды колебаний рынка.
