section.section.facilities
  .container
    .row
        .col-12.wow.fadeInLeft(data-wow-delay="0.5s" data-wow-offset="50")
          h2.h1.title.title-decoration.mb-30 Ваши средства в надёжных руках!
          p Узнайте больше о том, как мы обеспечиваем стабильность выплат
    .row.pt-50
      .col-xl-4.mb-20.mb-50.wow.fadeIn(data-wow-delay="0.3s" data-wow-offset="50")
        .facilities-el(style="background-image: url(./img/facilities_a.png)")
            .facilities-number-box
              .facilities-number 01
            .facilities-el-box
              h3.mb-20 Диверсификация
                | 
                br
                | рисков
              p Средства наших клиентов распределяются между трейдерами, биржами и инвестиционными проектами, поэтому даже просадка в одной сфере деятельности будет скомпенсирована успехом в другой.
      .col-xl-4.mb-20.mb-50.wow.fadeIn(data-wow-delay="0.6s" data-wow-offset="50")
        .facilities-el(style="background-image: url(./img/facilities_b.png)")
            .facilities-number-box
              .facilities-number 02
            .facilities-el-box
              h3.mb-20 Резервный
                  |
                  br
                  | фонд
              p Соблюдение и исполнение графика выплат – одна из наших главных задач! Поэтому мы всегда сохраняем крупные объемы резервных средств, которые используются для выплат в случае кризисных ситуаций на рынке.
      .col-xl-4.mb-20.mb-50.wow.fadeIn(data-wow-delay="0.9s" data-wow-offset="50")
        .facilities-el(style="background-image: url(./img/facilities_c.png)")
            .facilities-number-box
              .facilities-number 03
            .facilities-el-box
              h3.mb-20 Ограниченный
                  |
                  br
                  | доступ
              p Трейдеры, маклеры и аналитики проекта получают лишь возможность управлять финансами в рамках инвестиционной деятельности. Ни один сотрудник компании не имеет прямого доступа к средствам наших клиентов.