section.section.section-dark.inform
    .inform_bg.wow.fadeInRight(data-wow-delay="0.7s" data-wow-offset="300")
        .inform_bg-img
    .container
        .row
            .col-12.col-lg-8.offset-xl-1.py-30.wow.fadeInLeft(data-wow-delay="0.5s" data-wow-offset="50")
                .inform-content
                    h3.title.mb-50 Станьте частью инвестиционного сообщества и обеспечьте себе стабильный высокий доход с регулярными выплатами
                    a.btn-decoration(href="") 
                        span Пройти регистрацию