section.section.section-dark.inform.inform-lower
    .inform_bg.wow.fadeInRight(data-wow-delay="0.7s" data-wow-offset="200")
        .inform_bg-img
    .container
        .row
            .col-12.col-lg-7.offset-xl-1.py-30
                .inform-content.wow.fadeInLeft(data-wow-delay="0.5s")
                    h3.title.mb-50 Узнайте больше о ROSA International и ваших возможностях в проекте
                    p.mb-50 Оставьте заявку и получите индивидуальную консультацию
                    a.btn-decoration(href="") 
                        span Хочу узнать еще больше