section.section.make#make
  .container
    .row
        .col-12.col-xl-7.wow.fadeInLeft(data-wow-delay="0.5s" data-wow-offset="50")
          h2.h1.title.title-decoration.mb-20 Ваши возможности с ROSA International
    .row
      .col-md-6.mb-20.mb-30.wow.fadeIn(data-wow-delay="0.5s" data-wow-offset="50")
        .make-el
            .make-el-numb 01
            .meke-el-box
              h5.mb-20 Инвестирование 
                | 
                br
                | в доверительное управление
              p Для тех, кто хочет получать пассивный доход, мы предлагаем на выбор несколько различных пакетов с готовыми тарифными планами. Стабильные выплаты с первого дня работы в системе, каждый день с понедельника по пятницу. Достаточно    зарегистрироваться в проекте, выбрать подходящий пакетный план и в онлайн режиме получать доход и выводить деньги.
      .col-md-6.mb-20.mb-30.wow.fadeIn(data-wow-delay="0.7s" data-wow-offset="50")
        .make-el
            .make-el-numb 02
            .meke-el-box
              h5.mb-20 Партнёрская программа
                |
                br
                | для активных участников
              p Для тех, кто хочет получать пассивный доход, мы предлагаем на выбор несколько различных пакетов с готовыми тарифными планами. Стабильные выплаты с первого дня работы в системе, каждый день с понедельника по пятницу. Достаточно    зарегистрироваться в проекте, выбрать подходящий пакетный план и в онлайн режиме получать доход и выводить деньги.
      .col-md-6.mb-20.mb-30.wow.fadeIn(data-wow-delay="0.5s" data-wow-offset="50")
        .make-el
            .make-el-numb 03
            .meke-el-box
              h5.mb-20 Все необходимые инструменты
                  |
                  br
                  | в одном кабинете
              p Управляйте сетью партнёров и получайте доходы от нее, работайте с вашими инвестиционными пакетами и выводите прибыль в любой момент. Вам не придётся долго разбираться в особенностях работы с системой – всё максимально просто и    понятно. ROSA International позволяет получать доходы от инвестиций всем, независимо от опыта и навыков.
      .col-md-6.mb-20.mb-30.wow.fadeIn(data-wow-delay="0.7s" data-wow-offset="50")
        .make-el
            .make-el-numb 04
            .meke-el-box
              h5.mb-20 Работайте где удобно
                  |
                  br
                  | и когда удобно
              p Инвестируйте и привлекайте новых участников, контролируйте свои доходы с компьютера, планшета или смартфона. Вы всегда в курсе ваших доходов, можете управлять ими и отслеживать статистику из любой точки на планете в любое время     суток. Ваши данные надёжно защищены благодаря современным методам шифрования и дополнительным смарт-алгоритмам.
      .col-12.py-50.text-center.wow.fadeInUp(data-wow-delay="0.3s" data-wow-offset="50")
          a.btn-decoration.btn-decoration-costom-shadow.m-auto(href="")
            span Стать клиентом
