section.section.section-gray.plans#plans
    .container
        .row
            .col-12.wow.fadeInUp(data-wow-delay="0.5s")
              h2.h1.title.title-decoration.title-center.mb-30 Выберите свой план инвестиций и начните получать доход уже сегодня
            .col-12.mb-50
                .table-resp
                    table.plans-table.wow.fadeIn(data-wow-delay="0.5s")
                        tbody
                            tr.wow.fadeIn(data-wow-delay="0.3s" data-wow-offset="50")
                                th
                                th 
                                    .table-icon-box.d-flex.align-items-end.justify-content-center
                                        img.mr-10(src="img/table-a.png", alt="icon")
                                        h4 Bishop
                                th
                                    .table-icon-box.d-flex.align-items-end.justify-content-center
                                        img.mr-10(src="img/table-b.png", alt="icon")
                                        h4 Rook
                                th
                                    .table-icon-box.d-flex.align-items-end.justify-content-center
                                        img.mr-10(src="img/table-c.png", alt="icon")
                                        h4 Queen
                                th
                                    .table-icon-box.d-flex.align-items-end.justify-content-center
                                        img.mr-10(src="img/table-d.png", alt="icon")
                                        h4 King
                            tr.wow.fadeIn(data-wow-delay="0.4s" data-wow-offset="25")
                                td Количество выплат
                                td 500
                                td 650
                                td 800
                                td 900
                            tr.wow.fadeIn(data-wow-delay="0.5s" data-wow-offset="25")
                                td Сумма ежедневных выплат
                                td 4$
                                td 13$
                                td 31$
                                td 68$
                            tr.wow.fadeIn(data-wow-delay="0.6s" data-wow-offset="25")
                                td Сумма среднемесячных выплат
                                td 84$
                                td 273$
                                td 651$
                                td 1 386$
                            tr.wow.fadeIn(data-wow-delay="0.7s" data-wow-offset="25")
                                td Сумма среднегодовых выплат
                                td 1 000$
                                td 3 250$
                                td 7 750$
                                td 17 000$
                            tr.wow.fadeIn(data-wow-delay="0.8s" data-wow-offset="25")
                                td Сумма всех выплат
                                td 2 000$
                                td 8 450$
                                td 24 800$
                                td 61 200$
                            tr.wow.fadeIn(data-wow-delay="0.9s" data-wow-offset="25")
                                td Срок окупаемости инвестиций
                                td 12 мес
                                td 11 мес
                                td 10,5 мес.
                                td 10 мес.
                            tr.wow.fadeIn(data-wow-delay="1s" data-wow-offset="25")
                                td 
                                    h4 Стоимость плана
                                td 
                                    h4 1 000$
                                td 
                                    h4 3 000$
                                td 
                                    h4 7 000$
                                td 
                                    h4 15 000$
                            tr.wow.fadeIn(data-wow-delay="1.1s" data-wow-offset="25")
                                td 
                                
                                td 
                                    a.btn-standart(href="") Оплатить
                                td 
                                    a.btn-standart(href="") Оплатить
                                td 
                                    a.btn-standart(href="") Оплатить
                                td 
                                    a.btn-standart(href="") Оплатить