section.section.preview
	.container.py-50.my-50
		.row.justify-content-center
			.col-auto.text-center.wow.fadeIn(data-wow-delay="0.3s" data-wow-offset="50")
				a.btn-play.mb-20.js-play-video(href="https://www.youtube.com/watch?v=rahRaVtEQaM" data-fancybox  data-wow-delay="1.2s" data-wow-offset="100")
					span.play-rect
				span.text-white.wow.fadeIn(data-wow-delay="0.3s") Нажмите для просмотра