section.section.section-gray.p-0.privilege#busines
	.container
		.row
			.col-12
				.row.justify-content-between
					.col-xl-5.wow.fadeInLeft(data-wow-delay="0.3s")
						.privilege-decoration-col.pt-50
							h2.h1.title.title-decoration.my-30 Один проект – два способа заработка
					.col-xl-7.py-50.my-lg-50
						.row.py-50.wow.fadeInRight(data-wow-delay="0.3s")
							.col-auto.col-sm-3.mb-20.text-center
								img.mr-10(src="img/privilege-a.png", alt="icon")
							.col-12.col-sm-9
								h4.mb-20 Пассивный доход
								p Каждый участник нашего проекта имеет возможность получать стабильный пассивный доход с размерами выплат на порядок выше, чем предлагают банковские учреждения. Инвестиционная программа основана на принципах доверительного управления средствами и диверсификации рисков. Удобные инструменты и простой интерфейс сделают ваш заработок с ROSA International простым и не требующим колоссальных затрат времени.
						.row.py-50.wow.fadeInRight(data-wow-delay="0.3s")
							.col-auto.col-sm-3.mb-20.text-center
								img.mr-10(src="img/privilege-b.png", alt="icon")
							.col-12.col-sm-9
								h4.mb-20 Активный доход
								p Для тех, кто хочет иметь возможность влиять на уровень своего заработка, ROSA International предлагает возможность получения активного дохода, который напрямую будет зависеть от результативности. Планируйте своё время и возможности самостоятельно и зарабатывайте ещё больше вместе с партнёрской программой. Никаких жёстких рамок и условий – ваш доход будет зависеть только от вашего желания и действий.