footer.footer
    .container
        .row.justify-content-md-between
            .col-12.col-md-auto.text-center
                p.mb-0 © 2019 ROSA International
            .col-12.col-md-auto.text-center
                p.mb-0 Разработано - 
                    a.link-secondary(href="#") Flawlessmlm