header.header.mb-4
  .container
    .row
      .col-12
        .header-box.panel
            .header-left-side
                a.logo(href="")
                  img(src='img/Logo.png', alt="logo")
            .header-right-side
                .user
                    a.user-link(href='#')
                        .user-img
                            img(src='img/user.jpg', alt="user")
                        span.user-name Елена Свиридова