script(src="js/jquery-3.3.1.js")
script(src="plugins/bootstrap/bootstrap.bundle.min.js")
script(src="plugins/bootstrap-datepicker/bootstrap-datepicker.min.js")
script(src="plugins/slick-1.8.1/slick.min.js")
script(src="plugins/echarts/echarts.min.js")
script(src="plugins/select2/select2.min.js")
//- script(src="plugins/jq-ui/jquery-ui.min.js")
script(src="js/scripts.min.js")